html { scroll-behavior: smooth; }

body {

	width: 100vw;
	height: 100vh;

	overflow-x: hidden;
	overflow-y: hidden;

	background-color: whitesmoke;
}

#root {

	width: 100vw;
	height: 100vh;

	overflow-x: hidden;
	overflow-y: hidden;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;

	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
}


/*	Local styles
/*	*	*	*	*	*	*	*	*	*	*/
@import './components/counters';
@import './components/counter';
@import './components/infobar';